body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    line-height: 1.5;
   
}

header {
    background-color: #f2f2f2;
    padding: 20px 0;
}

section {
    padding: 100px 0;
    display:flex;
    flex-direction: column;
    align-items: center;
    text-align:center;
    
}

.education-entry {

    padding: 50px 0;

}

#education-title {
    position: absolute;
    top: 250px; 
    left: 50%;
    transform: translateX(-50%);
    z-index: 1;
}

.education-entry img{
    max-width: 100%;
    max-height: 100%;
}

#education {

    background-color: #f9e6e6;
    
}







#experience {

    background-color:lightsalmon;

}

#magna {
    max-width: 70%;
}


.title {
    text-align: center;

}



#Project {

    background-color:aquamarine;

}
#webpro {
    max-width: 80%;
}

#care {
    max-width: 80%;
}

#skills {

    background-color: darkgoldenrod;
}




#social {

    background-color: peru;

}

.wesimage {
    text-align: center;
}

footer {
    text-align: center;

}

#contactlink {
    display: block; 
    text-align: center; 
  }



  #experiencecontent {
    text-align: left;
    margin-left: 2%;
  }

  #project1{
    text-align: left;
    margin-left: 2%;
  }

  #project2{
    text-align: left;
    margin-left: 2%;
  }